@import "vars";
@import "fonts";
@import "global";

/*****************************
**************HEADER**********
*****************************/




.header__inner{
    display: flex;
    justify-content: space-between;
}

.header__logo{
    &-link{
        display: block;
    }
    &-img{
        width: 235px;
        border-radius: 25%;
        opacity: .7;
    }
}

.header__menu{
    display: flex;
    align-items: center;

    &-items{
        display: flex;
        flex-direction: row;
        
    }

    &-item{
        margin: 0 15px;
    }

    &-link{
        font-size: 16px;
        color: #fff;
        &:hover{
            border-bottom: 3px solid rgb(214, 24, 24);
            padding: 0 0 15px 0;
            color: rgb(212, 209, 209);
            transition: 0.5s;
        }
    }
    
}



/*****************************
***************MAIN***********
*****************************/



/*****************************
************HEADING***********
*****************************/

.heading__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.heading__txt{
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin-top: 95px;
    &::before,
    &::after{
        content: '';
        width: 22px;
        height: 1px;
        background-color: #fff;
        display: inline-block;
        vertical-align: middle;
        margin: 0 15px;
    }
    
}

.heading__logo{
    display: flex;
    width: 555px;
    margin-top: 55px;
}


.heading__line{
    width: 100%;
    height: 85px;
    margin: 30px 0;
    background-repeat: no-repeat;
    background-size: cover;
}



/*****************************
************PRODUCTS***********
*****************************/
.production__inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.production__item{
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    align-items: center;
    &-image{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &-title{
        color: #fff;
        font-size: 25px;
        font-weight: 600;
        align-items: center;
    }
    &-box{
        margin: 15px 10px 45px 0;
        width: 340px;
        height: 270px;
        border: 4px solid #fff;
        background-repeat: no-repeat;
        transition: 0.8s;
        background-position: center;
        
    }
    
}
  



/*****************************
**************HEADER**********
*****************************/
footer{
    background-color:rgb(27, 27, 27);
    border-top: 1px solid rgb(195, 7, 7);
}

.footer__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0;
    
}


.footer__logo{
    &-img{
        width: 190px;
    }
}

.footer__phone{
    display: flex;
    flex-direction: column;
    &-link{
        color: #fff;
        position: relative;
        padding-left: 20px;
        font-size: 20px; 
        margin: 7px 0; 
    }
    &-vodafone{
        &::before{
            content: '';
            background-image: url(../images/social/vadafone.svg);
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            left: 0;
            top: 4px;
            width: 15px;
            height: 15px;
            
        }
    }
    &-kyivstar{
        &::before{
            content: '';
            background-image: url(../images/social/kievstar.svg);
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            left: 0;
            top: 4px;
            width: 15px;
            height: 15px;
        }
        
    }
   
}

.footer__social{
    width: 100%;
    display: flex;
    &-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    &-item {
        margin: 0 10px;
    }
    &-item:first-child {
        margin-left: 0;
    }
}

.footer__copyright{
    width: 100%;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}


.footer__col{
    display: flex;
    flex-wrap: wrap;
    font-display: column;
    max-width: 450px;
}


.footer__form{
    width: 570px;
    margin-top: 75px;
    &-title{
        line-height: 24px;
        font-size: 21px;
        margin-bottom: 13px;
        margin: 0 0 13px;
        color: #fff;
    }
    &-text{        
        font-size: 15px;
        line-height: 18px;
        margin: 0 0 12px;
        color: #fff;
    }
    
    &-line{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    &-input,
    &-textarea{
        border: none;        
        background: rgba(0, 0, 0, .5);        
        padding: 15px;
        font-size: 13px;
        line-height: 15px;
        color: #fff;
        &::placeholder{
            color: #fff;
        }
    }
    
    &-input{
        width: 49%;      
    }
    
    &-textarea{
        min-height: 144px;
        width: 100%;
        resize: none;
        margin-bottom: 20px;
    }
    
    &-btn{
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: .03em;
        border: 2px solid white;
        padding: 9px 15px;
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            opacity: 1;
            background-color: #fff;
            color: #000;
        }    
    }
}

.footer__txt{
    color: #fff;
    max-width: 396px;
}

.footer__menu{
    margin-top: 75px;
    &-items{
        display: flex;
        flex-direction: column;
    }
    &-item{
        margin: 7px 0;
    }
    &-link{
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
    }
}





@import "media";